# ===== Restic 仓库配置 =====

export RESTIC_HOST="$HOSTNAME"
export RESTIC_REPOSITORY=/path/to/restic/repo
export RESTIC_PASSWORD_FILE=/path/to/restic/passwdfile

# ===== 可修改配置项 =====

# 备份数据源路径
RESTIC_BACKUP_SOURCE="/path/to/restic/backup/source"

# 备份标签
RESTIC_BACKUP_TAG="$RESTIC_HOST,template,gold"

# 备份排除文件名称
RESTIC_BACKUP_EXCLUDE_NAME="exclude-default.txt"

# ===== Ntfy 配置 =====

NTFY_URL=https://ntfy.sh
NTFY_TOPIC=restic
NTFY_TOKEN=tk_xxxxxxx
